<!doctype html>
<html>
<head>
</head>
<body>
<header>
<h1>my brain has five houses</h1>
<nav>
<li><a href="/map1"><img src="http://madarts.goucher.edu/evebrettell/brainmap1.jpg" /></a></li>
<li><a href="/map2"><img src="http://madarts.goucher.edu/evebrettell/brainmap1.jpg" /></a></li>
<li><a href="/map3"><img src="http://madarts.goucher.edu/evebrettell/brainmap1.jpg" /></a></li>
<li><a href="/map4"><img src="http://madarts.goucher.edu/evebrettell/brainmap1.jpg" /></a></li>
<li><a href="/map5"><img src="http://madarts.goucher.edu/evebrettell/brainmap1.jpg" /></a></li>
</nav>
</header>
<div id="content">
{{{ body }}}
</div>
<footer>and many rooms</footer>
</body>
</html>☻