<div style="margin-left:auto; margin-right:auto; width:500px; border: 2px solid black; padding:20px; text-align:center;">
<p><a href="http://lifehacker.com/this-7-minute-research-based-workout-exercises-your-wh-498676327" target="_blank">7-Minute Whole Body Workout</a></p>
<p><a href="http://www.cosmopolitan.com/health-fitness/advice/a32436/exercises-for-a-rounder-butt/" target="_blank">Round Booty Workout</a></p>
<p><a href="https://idealfit.com/15-day-fit-body-challenge/workouts.php" target="_blank">15 Day Challenge</a></p>
</div>