<div style="margin-left:auto; margin-right:auto; width:500px; border: 2px solid black; padding:20px; text-align:center;">
<p><a href="http://diamantedesign.solutions" target="_blank">Diamante Design</a></p>
<p><a href="http://evebrettell.com/model/modeling.html" target="_blank">modeling</a></p>
<p><a href="http://evebrettell.com/drawing.html" target="_blank">comics & art</a></p>
</div>